<header><h1 class="display-4"><%= @instructor.name %></h1></header>

<div class="card">
  <div class="card-block">
    <ul>
      <h3>Address: <%= @instructor.address %></h3>
      <h3>Car Model: <%= @instructor.car %></h3>
      <h3>
        Geat Box:
      <% if @instructor.auto && @instructor.manual %>
          Manual and Auto
      <% elsif @instructor.auto %>
          Auto only
      <% elsif @instructor.manual %>
          Manual only
      <% end %>
      </h3>
      <br>
      
      <!-- Google staticmap -->
      <%= render 'shared/map' %>

      <hr>
      <% if admin_signed_in? %>
        <%= link_to "Edit", edit_instructor_path, class: 'btn btn-default btn-lg' %>
        <%= link_to "Delete", instructor_path(@instructor), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-default btn-lg' %>
      <% else %>
        <!-- renders requests form in 'views/shared/_requests_form' -->
       <%= render 'shared/requests_form' %>
      <% end %>
    </ul>
  </div>
</div>
