<hr>
<%= form_tag [@request, @instructor] do %>
  <p>Name:</p>
  <%= text_field_tag :name %>
  <p>Email:</p>
  <%= text_field_tag :email %>
  <p>Phone Number:</p>
  <%= text_field_tag :phone %>
  <p>Message:</p>
  <%= text_area_tag :message %>
  <%= submit_tag "Submit Request" %>
<% end %>

<%= @content %>
<%= @title %>

<br>
<br>
