<h3>Hi <%= @request.instructor.name %>, </h3>
<h3>You have a new job request with the following details:</h3>
<p>Name: <%= @request.name %></p>
<p>Email: <%= @request.email %></p>
<p>Phone Number: <%= @request.phone %></p>
<p>Message: <%= @request.message %></p>
<p>Time: <%= Time.now.to_formatted_s(:long) %></p>
<br>
<p>
  Please respond to the <%= @request.name %> as soon as possible.
</p>
<br>
<p><small>
  This message was sent to you by https://instructorfinder.herokuapp.com If you
  don't wish to receive messages like this, please call the admin to remove you
  from the service.
</small></p>
