<!DOCTYPE html>
<html>
  <head>
    <title>InstructorFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% elsif alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-ms-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</html>
