<!DOCTYPE html>
<html>
  <head>
    <title>InstructorFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-ms-12">
          <%= render 'shared/navbar' %>    <!-- renders the navbar on /views/shared/_navbar -->
          <%= render 'shared/notices' %>    <!-- renders the notces messages on /views/shared/_notice -->
          <%= yield %>    <!-- renders the site views -->
        </div>
      </div>
    </div>
  </div>

</html>
